node_modules
dist
umd
.DS_Store
.eslintcache
whitesource/
LICENSE_DEPENDENCIES
LICENSE_DEPENDENCIES_ALL
docs/api/
examples/solid-client-access-grants-demo/static/javascript/
.env*.local
.cache
.github/**/package-lock.json
test-results/
.vercel
.virtualenv
.vscode/settings.json
coverage
