node_modules
dist
umd
.DS_Store
.eslintcache
whitesource/
LICENSE_DEPENDENCIES
LICENSE_DEPENDENCIES_ALL
docs/api/build/
docs/api/source/api/
docs/api/docs-assets/
docs/dist/
.env*.local
.cache
.github/**/package-lock.json
test-results/
.vercel
.virtualenv
.vscode/settings.json
