<form action="/request" , method="post">
    <fieldset>
        <legend>Solid resource access request form</legend>
        <p>
            <label for="resource">Resource URL</label>
            <input type="url" name="resource" id="resource" required>
        </p>
        <p>
            <label for="owner">Resource Owner's WebID</label>
            <input type="url" name="owner" id="owner" required>
        </p>
        <p>
            <label>Purposes</label>
            <input type="text" name="purpose" value="https://w3id.org/dpv#AcademicResearch" readonly>
            <input type="text" name="purpose" value="https://w3id.org/dpv#PersonnelHiring" readonly>
        </p>
        <p>
            <input type="submit" value="Request Access">
        </p>
        <p>Note: this form generates a Read Only Access Request.</p>
    </fieldset>
</form>
