<form action="/request" , method="post">
    <fieldset>
        <legend>Solid resource access request form</legend>
        <p>
            <label for="resource">Resource URL</label>
            <input type="url" name="resource" id="resource" required>
        </p>
        <p>
            <label for="owner">Resource Owner's WebID</label>
            <input type="url" name="owner" id="owner" required>
        </p>
        <p>
            <input type="submit" value="Request Access">
        </p>
    </fieldset>
</form>
