<form>
    <fieldset>
        <legend>Access Grant</legend>
        <pre><code><%= JSON.stringify(accessGrant, undefined, "  ") %></code></pre>
        <p>Resource content</p>
        <pre><code><%= fileContent %></code></pre>
    </fieldset>
</form>
