name: Audit

on:
  push:
  schedule:
    - cron: "40 10 * * *"

jobs:
  audit:
    uses: inrupt/typescript-sdk-tools/.github/workflows/reusable-audit.yml@v3
    secrets:
      WEBHOOK_E2E_FAILURE: ${{ secrets.WEBHOOK_E2E_FAILURE }}
