name: End-to-end node tests

on:
  push:

env:
  CI: true
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  e2e-node:
    runs-on: ${{ matrix.os }}
    environment:
      name: ${{ matrix.environment-name }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        node-version: ["22.x", "20.x"]
        environment-name: ["ESS PodSpaces", "ESS Release-2-3", "ESS Next"]
        experimental: [false]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run build
      - # Dependabot cannot access secrets, so it doesn't have a token to authenticate to ESS.
        # We want jobs in this workflow to be gating PRs, so the whole matrix must
        # run even for dependabot so that the matrixed jobs are skipped, instead
        # of the whole pipeline.
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: npm run test:e2e:node
        env:
          E2E_TEST_IDP: ${{ secrets.E2E_TEST_IDP }}
          E2E_TEST_ENVIRONMENT: ${{ matrix.environment-name }}
          E2E_TEST_VC_PROVIDER: ${{ secrets.E2E_TEST_VC_PROVIDER }}
          E2E_TEST_REQUESTOR_CLIENT_ID: ${{ secrets.E2E_TEST_REQUESTOR_CLIENT_ID }}
          E2E_TEST_REQUESTOR_CLIENT_SECRET: ${{ secrets.E2E_TEST_REQUESTOR_CLIENT_SECRET }}
          E2E_TEST_OWNER_CLIENT_ID: ${{ secrets.E2E_TEST_OWNER_CLIENT_ID }}
          E2E_TEST_OWNER_CLIENT_SECRET: ${{ secrets.E2E_TEST_OWNER_CLIENT_SECRET }}
          E2E_TEST_FEATURE_RECURSIVE_ACCESS_GRANTS: ${{ secrets.E2E_TEST_FEATURE_RECURSIVE_ACCESS_GRANTS }}
          E2E_TEST_FEATURE_QUERY_ENDPOINT: ${{ secrets.E2E_TEST_FEATURE_QUERY_ENDPOINT }}
          E2E_TEST_FEATURE_VERIFIED_REQUESTS: ${{ secrets.E2E_TEST_FEATURE_VERIFIED_REQUESTS }}
